{% extends "inicio/encabezado.html" %}

{% block title %} PRINCIPAL {% endblock %}
{%block imagen%}
    {%load static%}
    {%static 'inicio/images/home.png'%}
{%endblock%}

{% block contenido %}
<!-- Contenido Principal-->
<div class="page-content">


	<!--Encabezdo -->
	<div class="page-header">
		<div class="page-title">
			<h3>Alumnos
				<small>Lista de Alumnos </small>
			</h3>
		</div>


	</div>
	<!-- /Encabezado-->


</div>
<!-- Contenido Tabla-->
  <table class="table table-bordered table-
 striped">
	<thead>
		<tr>
			<th>Foto</th>
			<th>Matricula</th>
			<th>Nombre</th>
			<th>Carrera</th>
			<th>Turno</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="text-center">
				<img src="" alt="" class="img-media">
			</td>
			<td class="text-semibold">UTM241036TI</td>
			<td class="muted">Sebastian</td>
			<td class="muted">TIC</td>
			<td class="muted">Vespertino</td>
		</tr>

	</tbody>
 </table>
{% endblock %}